<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Login</title>
</head>

<body>

<header>
    <a href="index.html" th:href="@{/}"></a>
    <a href="index.html" th:href="@{/}">Home</a>
    <a href="blog/postBlog.html" th:href="@{/blog/saveBlog}">Blog</a>
</header>

<h1>Already registered? Log in</h1>

<form method="post"  th:object="${user}">
    <div><label for="userEmail">UserEmail:</label></div>
    <input id="userEmail" type="text" name="userEmail" th:value="*{userEmail}" />
    <span class="formError" th:if="${#fields.hasErrors('userEmail')}"
          th:errors="*{userEmail}">Invalid user Email</span>

    <div><label for="password" th:value="*{pwd}">Password:</label></div>
    <input id="password" type="password" name="pwd" th:value="*{pwd}" />
    <span class="formError" th:if="${#fields.hasErrors('pwd')}"
          th:errors="*{pwd}">Invalid password</span>

    <div><input type="submit" value="Login" style = "margin-top: 15px"/>
        <a href="user/register.html" th:href="@{/register}" style = "font-size: small">[Go to Register]</a></div>
</form>

<footer th:replace="layout :: site-footer" />

</body>
</html>