<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Login</title>
</head>

<body>

<header th:fragment="site-header">
    <a href="index.html" th:href="@{/}"></a>
    <a href="index.html" th:href="@{/}">Home</a>
    <a href="user/login.html" th:href="@{/login}" style ="float: right">Login</a>
    <a href="blog/postBlog.html" th:href="@{/blog/saveBlog}" style="margin : 15px" >Blog</a>
</header>

<h1>Sign up</h1>

<form method="post" th:action="@{/register}"  th:object="${user}">
    <div><label for="userEmail">UserEmail:</label></div>
    <input id="userEmail" type="text" name="userEmail" th:value="*{userEmail}" />
    <span class="formError" th:if="${#fields.hasErrors('userEmail')}"
          th:errors="*{userEmail}">Invalid user Email</span>

    <div><label for="password" th:value="*{pwd}">Password:</label></div>
    <input id="password" type="password" name="pwd" th:value="*{pwd}" />
    <span class="formError" th:if="${#fields.hasErrors('pwd')}"
          th:errors="*{pwd}">Invalid password</span>

    <div style = " margin : 15px ; margin-left : 0px"><input type="submit" value="register"/></div>
</form>

<footer th:replace="layout :: site-footer" />

</body>

</html>